doctype html
html( lang="en" )
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Document
    link( rel="stylesheet" href="css/main.css")
body

    section.main

        header.header
            .container
                .row
                    .col
                        a(href='#').logo
                            img(src='img/logo.png' alt='logo')
                    .col
                        nav.main-menu
                            ul.main-menu__list
                                li.main-menu__list-item
                                    a(href='#') КОМАНДА
                                li.main-menu__list-item
                                    a(href='#') ПОЧЕМУ ВЫБИРАЮТ НАС
        .container
            .row
                .col-md-8.col-lg-6
                    p.main-title We
                    p.main-title2 know.
                    p.main-title2 can.
                    p.main-title2  do.
                .col-md-4.col-lg-6
                    a(href='https://www.youtube.com/watch?v=rj73lCWeZQw').main-play.popup-youtube
                        span.main-play__text PLAY SHOWREEL

        .container
            ul.partners
                li
                    img(src='img/btc-alpha.png')
                li
                    img(src='img/huobi.png')
                li
                    img(src='img/kucoin.png')
                li
                    img(src='img/binance.png')
                li
                    img(src='img/bitfinex.png')
                li
                    img(src='img/yo bit net.png')



    script( src="js/main.min.js" )




